body {
  background-image: radial-gradient(#fff, #fff, #ccc);
}

/* ---------------nav CSS---------------- */
nav .logo h1 {
  color: #fff;
}
nav .header-nav {
  height: 250px;
  padding: 1rem 1.5rem;
  background-size: cover;
  background-image: url("./nav-bg.svg"),
    linear-gradient(to top right, #0c7777, #066666);
}
#edit-event-type,
#edit-speaker {
  margin-bottom: 1rem;
}
nav .header {
  max-width: 1200px;
}
nav .header .date-con .date {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
nav .middle h1 {
  text-align: center;
  font-size: 36px;
  color: white;
}
nav .middle h5 {
  text-align: center;
  font-weight: 400;
  color: white;
}
nav .bottom {
  max-width: 1000px;
}

nav .middle {
  max-width: 1200px;
}
nav .btn {
  padding: 0.5rem 1.4rem;
  font-size: 0.9rem;
}

/* -------Item CSS ---------- */
body .item-block {
  max-width: 900px;
  padding: 3rem 2rem;
}
body .item-block p {
  color: #8e8e8e;
  margin-bottom: 3rem;
}
body main .item-con .event-types-con {
  margin-bottom: 3rem;
}
body main .item-con .event-types {
  justify-content: center;
  display: flex;
  align-items: center;
}
body main .item-con .event-types .chip {
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border: 0.7px solid #ccc;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
body main .item-con .speakers h3 {
  text-align: center;
  font-size: 28px;
  color: #6c6c6c;
  margin-bottom: 1.5rem;
}
body main .item-con .speakers .speaker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
body main .item-con .speakers .speaker-list .speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}
body main .item-con .speakers .speaker-list .speaker .dp {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 1rem;
  position: relative;
}
body main .item-con .speakers .speaker-list .speaker .remove-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #cf5151;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
body main .item-con .speakers .speaker-list .speaker h6 {
  font-size: 1.3rem;
}
body main .item-con .speakers .speaker-list .speaker span {
  font-size: 0.85rem;
}

/* ------------modal CSS ------------ */
#modal.edit-event #modal-dialog {
  max-width: 716px;
  height: 620px;
}
#modal.edit-event-type #modal-dialog {
  height: 300px;
}
#modal-dialog form {
  margin-bottom: 200px;
  padding: 20px;
}
#modal-dialog form .form-group > input,
#modal-dialog form .form-group > label,
#modal-dialog form textarea {
  margin-bottom: 25px;
  width: 100%;
}
#modal-dialog form textarea {
  text-align: left;
  resize: none;
}
#modal-dialog h1 {
  font-size: 1.5rem;
  color: var(--green);
  margin-bottom: 40px;
}
#modal-dialog form {
  display: none;
}
#modal.edit-event form.modal-event {
  display: flex;
}
#modal.edit-event-type form.modal-event-type {
  display: flex;
}
#modal.edit-speaker form.modal-speaker {
  display: flex;
}

@media (min-width: 576px) {
  body .item-block {
    padding: 3rem;
  }
  body .item-block p {
    max-width: 400px;
  }
  #modal-dialog form .form-group {
    flex-direction: row;
  }
  #modal-dialog form .form-group label {
    width: 48%;
  }
  #modal-dialog form .form-group > input {
    width: 48%;
  }
  #modal-dialog form textarea {
    height: 230px;
  }
}

@media (min-width: 768px) {
  body .item-block p {
    max-width: 450px;
  }
  body #modal-dialog form {
    border-radius: 7px;
    margin-bottom: 150px;
  }
}

@media (min-width: 992px) {
  body .item-block p {
    max-width: 650px;
  }
}
